---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import services from "../../data/services.json";

const imageModules = import.meta.glob<{ default: any }>(
  "../../assets/pics/card-*.png",
  { eager: true }
);

function resolveImage(path: string) {
  const key = Object.keys(imageModules).find((k) => k.endsWith(path.split("/").pop()!));
  return key ? imageModules[key].default : null;
}

const description =
  "At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        services.map((service) => {
          const [titleTop, titleBottom] = service.shortTitle.split("\n");
          const img = resolveImage(service.image);
          return (
            <ServiceCard
              titleTop={titleTop}
              titleBottom={titleBottom}
              img={img}
              alt={service.title}
              link={`/services/${service.slug}`}
              color={service.color}
            />
          );
        })
      }
    </div>
  </div>
</Section>
