---
import { Image } from "astro:assets";
import Card from "./Card.astro";

import gob from "../../assets/icon6.svg";
import wob from "../../assets/icon7.svg";

type Color = "white" | "green" | "dark";

const { titleTop, titleBottom, img, alt, link, color = "white" } = Astro.props as {
  titleTop: string;
  titleBottom: string;
  img: any;
  alt: string;
  link: string;
  color: Color;
};

const colorClasses: Record<Color, { bg: string; badge: string; icon: typeof gob }> = {
  white: { bg: "bg-white", badge: "greenhead", icon: gob },
  green: { bg: "bg-green", badge: "whitehead", icon: gob },
  dark: { bg: "bg-dark text-white", badge: "whitehead", icon: wob },
};

const { bg, badge, icon } = colorClasses[color];
---

<Card isUnderline={true}>
  <div
    class=`h-[300px] w-full sm:h-full lg:gap-[60px] grid custom-grid lg:grid-cols-2 lg:grid-rows-1 p-8 sm:p-[50px] rounded-[45px] ${bg}`
  >
    <h3 class=`flex flex-col col-span-2 lg:col-span-1`>
      <span class=`w-[fit-content] ${badge}`>{titleTop}</span>
      <span class=`w-[fit-content] ${badge}`>{titleBottom}</span>
    </h3>
    <picture
      class="w-full h-full row-span-1 order-1 lg:order-none lg:row-span-2 flex justify-center items-center"
    >
      <Image
        src={img}
        alt={alt}
        class="h-[100px] w-auto sm:h-auto sm:w-3/4 object-cover"
      />
    </picture>
    <div class="flex items-end">
      <a href={link} class="flex items-center gap-3.5"
        ><Image src={icon} alt={alt} />
        <span class="hidden sm:block">Service Info</span></a
      >
    </div>
  </div>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
